@font-face {
  font-family: "PixelFont";
  src: url(fonts/ari-w9500.ttf);
}
html, body{
    overflow-x: hidden;
}
body {
    font-family: PixelFont;
    background-color: #333;
    color: white;
    justify-content: center;
    /* display: flex;
    justify-content: center; */
}
header {
    background-color: #335;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #111;

}
h1{
    text-align: center;
    font-size: 2.3em;
    margin: 0;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}

.fade-in {
    opacity: 0;
    transform: translateX(-70%);
    transition: opacity 1.5s ease, transform 1s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-right {
    opacity: 0;
    transform: translateX(70%);
    transition: opacity 1.5s ease, transform 1s ease;
}
.fade-in-right.visible {
    opacity: 1;
    transform: translateX(0);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 2%;
    padding: auto;
    gap: 20px;
}
.language {
    position: absolute;
    right: 0;
    display: flex;
    gap: 10px;
}

.foto {
    width: 120px;
    height: 150px;
    align-content: center;
    background-image: url('foto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    border: 2px solid #555;

}

.infoBox {
    background-color: #335;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #555;
    width: 23em;
}

.infoBoxFit {
    background-color: #335;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #555;
    width: fit-content;
}

.chapter{
    background-color: #335;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    margin-top: 1%;
    border-radius: 10px;
    border: 2px solid #111;
}
.freitext {
    color: #000;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
}

